@charset "UTF-8";
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.header{
	border-top:0px solid #000;
	background:#FEF898;
}
.logo{
	color: #DAA1C1;
	font-size: xx-large;
	text-align: center;
	text-shadow: 5px 5px 5px #FFF;
	font-weight: bold;
}
.tl{
	height:80%;
}
.headerNav{
	background:#DAA1C1;
}
.headerNavBtn{
	text-align:center;
	height:3em;
	line-height:3em;
	color:#5F5F5F;
	font-size:16px;
	background:#DAA1C1;
}
.headerNavBtn:hover{
	background:#A04B8C;
	color:#FFF;
}
.headerNavBtnXs{
	text-align:center;
	height:2em;
	line-height:2em;
	color:#5F5F5F;
	font-size:16px;
	background:#DAA1C1;
}
.headerNavBtnXs:hover{
	background:#A04B8C;
	color:#FFF;
}
.headerNavBtnOn{
	text-align:center;
	height:3em;
	line-height:3em;
	color:#FFF;
	font-size:16px;
	background:#A04B8C;
}
.headerNavBtnOnXs{
	text-align:center;
	height:2em;
	line-height:2em;
	color:#FFF;
	font-size:16px;
	background:#A04B8C;
}
.Main{
	text-align: center;
	background-color: #FEF898;
	background-image: url(img/syaro.jpg);
	background-position: bottom left;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.Greeting{
	text-align: center;
	background-color: #FEF898;
	background-image: url(img/greeting.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.Introduction{
	text-align: center;
	background-color: #FEF898;
	background-image: url(img/introduction.jpg);
	background-position: center right;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.Life{
	text-align: center;
	background-color: #FEF898;
	background-image: url(img/life.jpg);
	background-position: center left;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.Contact{
	text-align: center;
	background: #FEF898;
}
.Law{
	text-align: center;
	background-color: #FEF898;
	background-image: url(img/law.jpg);
	background-position: center right;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.Recruit{
	text-align: center;
	background-color: #FEF898;
	background-image: url(img/recruit.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.Question{
	text-align: center;
	background-color: #FEF898;
	background-image: url(img/question.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.back{
	background-color: rgba(255,255,255,0.8);
}
.How{
	background:#DAA1C1;
}
ul.howtitle {
	position: relative;
	margin: 0 0 1.5em;
	padding: 0.8em;
	background: #FEF898;
	color: #5F5F5F;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: x-large;
	font-weight: normal;
}
ul.howtitle:after{
    position: absolute;
    bottom: -15px;
    left: 10%;
    z-index: 90;
    margin-left: -15px;
    border-top: 15px solid #FEF898;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0;
    content: "";
}
ul.title {
	text-align: left;
	position: relative;
	margin: 0 0 1.5em;
	padding: 0.8em;
	background: #DAA1C1;
	color: #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: x-large;
	font-weight: normal;
}
ul.title:after{
	text-align: left;
    position: absolute;
    bottom: -15px;
    left: 10%;
    z-index: 90;
    margin-left: -15px;
    border-top: 15px solid #DAA1C1;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0;
    content: "";
}
ul.contents {
	text-align: left;
	font-size: large;
}
p.contentstitle {
	text-align: left;
	font-size: large;
	font-weight: bold;
}
p.contents {
	text-align: left;
	font-size: large;
}
p.contents-small {
	text-align: left;
	font-size: small;
}
p.twi{
	opacity: 0.8;
	}
p.button{
	text-align: center;
	}
li.contents {
	text-align: left;
	font-size: large;
}
.img-responsive-overwrite{
    margin: 0 auto;
}
.footer{
	background:#DAA1C1;
 	height: 60px;
}
.copyright{
	text-align: center;
	margin: 0.5em auto;
	display: block;
	background: #DAA1C1;
}
.counter{
	text-align: center;
	margin: 0.5em auto;
	display: block;
	background: #DAA1C1;
}
.img-maru {
border-radius : 100%;
}
